<%- include("partials/header", {activePage: "recipe_list"}); -%>
<div class="recipe-container">
  <div class="recipe-header">
    <h1><%= recipe.title %></h1>
    <%- include("partials/edit_recipe", {recipe: recipe}); -%>
    <br>
    <img class="recipe-img" src="<%= recipe.image %>">
  </div>
  <div class="recipe-description">
    <p>Description</p>
    <p class="recipe-body"><%= recipe.description %></p>
  </div>
  <div class="recipe-ingredients">
    <p>Ingredients</p>
    <ul>
      <% recipe.ingredients.split('\n').forEach(function(item) { %>
        <li><%= item %></li>
      <% }) %>
    </ul>
  </div>
  <div class="recipe-instructions">
    <p>Instructions</p>
    <ol>
      <% if (recipe.instructions.length > 0){ %>
        <% recipe.instructions.split('\n').forEach(function(step) { %>
          <li><%= step %></li>
        <% }) %>
      <% } %>
    </ol>
  </div>
  <div class="recipe-url">
    <p>URL</p>
    <a class="recipe-body" href="<%= recipe.url %>"><%= recipe.url %></a>
  </div>
  <br>
  <div class="recipe-delete">
    <form action="/delete-recipe" method="post">
      <input type="hidden" name="recipeId" value="<%= recipe._id %>">
      <input type="hidden" name="imageId" value="<%= recipe.imageId %>">
      <button type="submit" class="btn btn-danger" name="recipeDeleteButton">
        Delete Recipe
      </button>
    </form>
  </div>
</div>
<%- include("partials/footer"); -%>
