<%- include("partials/header", {activePage: "week_plan"}); -%>
  <% ingredientsList = []; %>
  <div class="d-flex">
    <%
    var prevWeekStart = new Date(thisWeek[0]);
    var prevWeekEnd = new Date(thisWeek[0]);
    prevWeekStart.setDate(prevWeekStart.getDate() - 7);
    prevWeekEnd.setDate(prevWeekEnd.getDate() - 1);
    var nextWeekStart = new Date(thisWeek[6]);
    var nextWeekEnd = new Date(thisWeek[6]);
    nextWeekStart.setDate(nextWeekStart.getDate() + 1);
    nextWeekEnd.setDate(nextWeekEnd.getDate() + 7);
    const prevWeekString = String(prevWeekEnd.getFullYear() + String(prevWeekEnd.getMonth() + 1).padStart(2, '0') + String(prevWeekEnd.getDate()).padStart(2, '0'));
    const prevWeekStartLabel = String(String(prevWeekStart.getMonth() + 1).padStart(2, '0') + '/' + String(prevWeekStart.getDate()).padStart(2, '0') + '/' + prevWeekStart.getFullYear());
    const prevWeekEndLabel = String(String(prevWeekEnd.getMonth() + 1).padStart(2, '0') + '/' + String(prevWeekEnd.getDate()).padStart(2, '0') + '/' + prevWeekEnd.getFullYear());
    const nextWeekString = String(nextWeekStart.getFullYear() + String(nextWeekStart.getMonth() + 1).padStart(2, '0') + String(nextWeekStart.getDate()).padStart(2, '0'));
    const nextWeekStartLabel = String(String(nextWeekStart.getMonth() + 1).padStart(2, '0') + '/' + String(nextWeekStart.getDate()).padStart(2, '0') + '/' + nextWeekStart.getFullYear());
    const nextWeekEndLabel = String(String(nextWeekEnd.getMonth() + 1).padStart(2, '0') + '/' + String(nextWeekEnd.getDate()).padStart(2, '0') + '/' + nextWeekEnd.getFullYear());
    %>
    <a href="/week_plan/<%= prevWeekString %>" class="btn btn-primary prev-week-button me-auto" type="button" name="prevWeek"><i class="fas fa-angle-left"></i> <span><%= prevWeekStartLabel + ' - ' + prevWeekEndLabel %></span></a>
    <a href="/week_plan/<%= nextWeekString %>" class="btn btn-primary next-week-button ms-auto" type="button" name="nextWeek"><span><%= nextWeekStartLabel + ' - ' + nextWeekEndLabel %></span><i class="fas fa-angle-right"></i></a>
  </div>
  <div class="weekday-card-deck">
    <% for(var i = 0; i < 7; i++){ %>
        <div class="card weekday-card h-100">
          <div class="card-body weekday-card-header">
            <h1 class="card-title weekday-card-title"><%= thisWeek[i].toDateString().split(' ').splice(0,1); %></h1>
            <h5><%= thisWeek[i].toDateString().split(' ').splice(1,3).join(' '); %></h5>
          </div>
          <div class="card-body">
            <!-- Add Recipe -->
            <%- include("partials/add_recipe", {date: thisWeek[i], recipes: recipeItems, action: '/add_week_plan'}); -%>
            <!-- Add Recipe End -->
          </div>
          <ul class="list-group list-group-flush">
            <% thisWeekRecipes[i].forEach(function(recipe){ %>
              <li class="list-group-item">
                <%- include("partials/expand_meal", {date: thisWeek[i], recipe: recipe, redirectPath: redirectPath, maxTitleLen: 7}); -%>
              </li>
              <% ingredientsList.push(recipe.ingredients); %>
            <% }) %>
          </ul>
        </div>
    <% } %>

  </div>
  <%- include("partials/shopping_list", {tools: tools, ingredientsList: ingredientsList}) -%>
  <button type="button" class="btn btn-primary go-to-week-button" data-bs-toggle="modal" data-bs-target="#goToWeekModal">
    <i class="fas fa-calendar-week"></i>
  </button>
  <div class="modal fade" id="goToWeekModal" tabindex="-1" aria-labelledby="goToWeekModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Get week of:</h5>
          <form action="/go_to_week" method="post">
            <input type="date" name="goToWeekDate" value="">
            <button class="btn btn-primary" type="submit" name="button">Go to week</button>
          </form>
        </div>
      </div>
    </div>
  </div>
<%- include("partials/footer"); -%>
